/*Mediaplayer Style*/
.button{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 3;
    -fx-background-color: transparent;
    -fx-padding: 3 1 3 1;


}
.button:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}
.addButton {
    -fx-graphic: url('../png/addOne.png');
}

.removeButton { 
    -fx-graphic: url('../png/removeOne.png');
}
.addAllButton {
    -fx-graphic: url('../png/add.png');
}

.removeAllButton { 
    -fx-graphic: url('../png/remove.png');
}
.upButton {
    -fx-graphic: url('../png/up.png');
}
.downButton {
    -fx-graphic: url('../png/down.png');
}
.previewButton {
    -fx-graphic: url('../png/preview.png');
}
.savetoolbarButton{
    -fx-graphic: url('../png/save.png');
}
.opentoolbarButton{
    -fx-graphic: url('../png/open.png');
}
.generatetoolbarButton{
    -fx-graphic: url('../png/generate.png');
}
.bannerStyle{
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0 0 3 0; 
    -fx-border-color: gray;
    -fx-background-color: transparent;
    -fx-background-image: url('../png/banner.png');
    /*-fx-background-position:center bottom;*/
    -fx-pref-height:100px;
}
#fancytext {
    -fx-fill: white;
    -fx-font: 60px Harlow; 
}

#btnLogin{
     -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.loginGrid{
   -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
}